.card__name {
  font-size: 26px;
  line-height: 30px;
  color: #1A1B22;
  display: flex;
  font-family: 'Roboto Slab', Arial, sans-serif;
  font-weight: normal;
  margin: 12px auto 0 24px;
}

@media screen and (max-width : 820px) {
  .card__name {
    font-size: 22px;
    line-height: 24px;
    margin: 12px 16px 0 16px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media screen and (max-width : 576px) {
  .card__name {
    margin: 10px 16px 0 16px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}