.results__preview {
  font-size: 18px;
  line-height: 24px;
  color: rgba(26, 27, 34, 0.5);
  margin: 40px 0 0 0;
}

@media screen and (max-width : 800px) {
  .results__preview {
    font-size: 14px;
    margin: 24px 0 0 0;
  }
}

@media screen and (max-width : 576px) {
  .results__preview {
    max-width: 75%;
    margin: 8px 0 0 0;
  }
}