@import url(./__photo/about__photo.css);
@import url(./__header/about__header.css);
@import url(./__info/about__info.css);
@import url(./__container/about__container.css);

.about {
  width: 100%;
  margin: 0;
  display: flex;
}

@media screen and (max-width : 576px) {
  .about {
    flex-direction: column;
  }
}