.results__cards-container {
  position: relative;
  display: grid;
  grid-gap: 16px 16px;
  grid-template-columns: repeat(auto-fill,400px);
  flex-direction: row;
  justify-content: center;
  margin: 64px 104px 0 104px;
  flex-wrap: wrap;
}

@media screen and (max-width : 1100px) {
  .results__cards-container {
    margin: 48px 70px 0 70px;
  }
}

@media screen and (max-width : 992px) {
  .results__cards-container {
    margin: 48px 50px 0 50px;
    grid-gap: 12px 12px;
    grid-template-columns: repeat(auto-fill,350px);
  }
}

@media screen and (max-width : 820px) {
  .results__cards-container {
    margin: 32px 40px 0 40px;
    grid-gap: 8px 8px;
    grid-template-columns: repeat(auto-fill,224px);
  }
}

@media screen and (max-width : 576px) {
  .results__cards-container {
    margin: 24px auto 0 auto;
    grid-gap: 10px 10px;
    grid-template-columns: repeat(auto-fill,90%);
  }
}