.button.button_show-more {
  border-radius: 80px;
  background: #FFF;
  color: #1A1B22;
  border: none;
  margin: 64px auto 0 auto;
  padding: 20px 84px;
  transition: opacity 0.5s linear;
}

@media screen and (max-width : 800px) {
  .button.button_show-more {
    padding: 16px 60px;
    margin: 22px auto 0 auto;
  }
}

@media screen and (max-width : 576px) {
  .button.button_show-more {
    padding: 16px 84px;
    margin: 15px auto 0 auto;
  }
}