.search__title {
  font-size: 60px;
  line-height: 64px;
  font-weight: normal;
  font-family: 'Roboto Slab', Arial, sans-serif;
  max-width: 608px;
  padding-top: 84px;
  margin: 80px auto 0 416px;
  color: #fff;
}

@media screen and (max-width : 1200px) {
  .search__title {
    margin-left: 250px;
  }
}

@media screen and (max-width : 1050px) {
  .search__title {
    margin-left: 200px;
  }
}

@media screen and (max-width : 992px) {
  .search__title {
    margin: 67px auto 0 180px;
    padding-top: 67px;
  }
}

@media screen and (max-width : 800px) {
  .search__title {
    font-size: 36px;
    line-height: 40px;
    max-width: 385px;
    margin: 38px auto 0 160px;
  }
}

@media screen and (max-width : 700px) {
  .search__title {
    margin-left: 15vw;
    padding-top: 61px;
  }
}

@media screen and (max-width : 576px) {
  .search__title {
    padding-top: 57px;
    max-width: 288px;
    margin: 30px auto 0 auto;
  }
}