.button.button_header {
  margin: 16px 104px 16px 0;
  border: 1px solid #fff;
  padding: 12px;
  flex-direction: row;
  background: none;
}

@media screen and (max-width : 992px) {
  .button.button_header {
    font-size: 16px;
    padding: 8px 12px;
    margin: 13px 40px 11px 0;
  }
}

@media screen and (max-width : 700px) {
  .button.button_header {
    margin: 10px 24px 8px 0;
  }
}

@media screen and (max-width : 576px) {
  .button.button_header {
    padding: 15px 12px;
    display: none;
    min-width: 288px;
  }
}