.footer__link-main {
  position: absolute;
  right: 408px;
  margin: 30px 0 28px 0;
  opacity: 1;
  transition: opacity 0.5s linear;
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
  color: #1A1B22;
}

.footer__link-main:hover {
  opacity: 0.9;
}

@media screen and (max-width : 992px) {
  .footer__link-main {
    right: 350px;
  }
}

@media screen and (max-width : 800px) {
  .footer__link-main {
    margin: 21px 0;
    right: 312px;
  }
}

@media screen and (max-width : 750px) {
  .footer__link-main {
    margin: 21px 0;
    right: 240px;
    font-size: 16px;
  }
}

@media screen and (max-width : 576px) {
  .footer__link-main {
    font-size: 18px;
    position: relative;
    margin: 20px auto 0 16px;
    right: 0;
  }
}