@import url(./_user/form__field-error_user.css);
@import url(./_email/form__field-error_email.css);
@import url(./_password/form__field-error_password.css);

.form__field-error {
  position: absolute;
  font-size: 12px;
  line-height: 15px;
  color: #FF0000;
}