@import url(./__anchor/card__anchor.css);
@import url(./__date/card__date.css);
@import url(./__image/card__image.css);
@import url(./__name/card__name.css);
@import url(./__source/card__source.css);
@import url(./__text/card__text.css);
@import url(./__alert/card__alert.css);
@import url(./__delete/card__delete.css);
@import url(./__tag/card__tag.css);
@import url(./_link/card_link.css);

.card {
  position: relative;
  max-width: 400px;
  height: 576px;
  border-radius: 16px;
  background: #FFF;
  display: flex;
  flex-direction: column;
}

.card:nth-child(3) {
  margin-right: 0;
}

@media screen and (max-width : 992px) {
  .card {
    max-width: 350px;
    height: unset;
  }
}

@media screen and (max-width : 820px) {
  .card {
    max-width: 224px;
    height: 420px;
  }
}

@media screen and (max-width : 576px) {
  .card {
    height: unset;
    max-width: 400px;
    max-height: 576px;
    min-width: 288px;
    min-height: 440px;
  }
}


