.button.button_search {
  background: #2F71E5;
  padding: 20px 54px;
  margin: 0;
  border: 0;
  position: absolute;
  right: -1px;
  top: -1px;
  bottom: -1px;
}

.button.button_search:hover {
  background: #347EFF;
}

@media screen and (max-width : 800px) {
  .button.button_search {
    padding: 16px 50px;
  }
}

@media screen and (max-width : 576px) {
  .button.button_search {
    top: unset;
    right: unset;
    bottom: -70px;
    max-width: 288px;
    padding: 16px 114px;
  }
}