.card__text {
  position: relative;
  font-size: 16px;
  line-height: 22px;
  color: #1A1B22;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 16px 24px 0 24px;
}

@media screen and (max-width : 992px) {
  .card__text {
    margin: 10px 16px 50px 24px;
    height: auto;
  }
}

@media screen and (max-width : 820px) {
  .card__text {
    margin: 10px 16px 0 16px;
    width: 192px;
    height: 88px;
  }
}

@media screen and (max-width : 576px) {
  .card__text {
    width: calc(100% - 32px);
    height: auto;
    margin-bottom: 44px;
  }
}
