.card__source {
  position: absolute;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #B6BCBF;
  font-family: 'Roboto Slab', Arial, sans-serif;
  letter-spacing: 0.4px;
  bottom: 24px;
  left: 24px;
  text-transform: uppercase;
}

@media screen and (max-width : 820px) {
  .card__source {
    bottom: 16px;
    left: 16px;
  }
}